{% extends 'database/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
{% load mptt_tags %}
<ul>
    {% recursetree employees %}
        <li class="tr-text">
            <div class="tr-block">{{ node.name }}, Position - {{ node.position }}, Salary - {{ node.salary }}</div>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endblock %}